<form class="form-horizontal" [formGroup]="chargeForm" (submit)="onSubmit($event)">
  <div class="modal-content">
    <div class="panel-default">
      <div class="panel-heading">
        <button type="button" class="close" (click)='cancel()' aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Charge &raquo; {{ charge.state ? 'New' : 'Edit' }}</h4>
      </div>
      <div class="modal-body">
        <div *ngIf='errorMsg' class="alert alert-danger" role="alert">{{ errorMsg }}</div>
        <div class="form-group">
          <label for="chargePrice" class="col-sm-2 control-label">Price</label>
          <div class="col-sm-5">
            <input formControlName="price" type="number" step=".01" class="form-control" id="chargePrice" placeholder="0.00" autofocus>
          </div>
          <label for="chargePrice" class="col-sm-1 control-label">Qty</label>
          <div class="col-sm-4">
            <input formControlName="qty" type="number" step=".01" class="form-control" id="chargeQty" placeholder="1">
          </div>
        </div>
        <div class="form-group">
          <label for="chargeName" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input formControlName="name" type="text" class="form-control" id="chargeName" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="chargeDescription" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <textarea formControlName="description" class="form-control" rows="2" id="chargeDescription"></textarea>
          </div>
        </div>
        <!--<div *ngIf='!modifierForm' class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" (click)='addModifier()'>- Discount / + Surcharge</button>
          </div>
        </div>
        <div *ngIf='modifierForm' [formGroup]="modifierForm" class='form-group'>
          <hr />
          <label for="modifierKind" class="col-sm-2 control-label">Modifier</label>
          <div class="col-sm-4">
            <select formControlName="modifierKind" class='form-control' id='modifierKind'>
              <option value='percent'>Percentage</option>
              <option value='fixed'>Fixed Value</option>
            </select>
          </div>
          <div class='col-sm-5 col-xs-10'>
            <input *ngIf="modifierForm.value.modifierKind === 'percent'" formControlName="percent" type="number" class="form-control" id="modifierPercent" placeholder="%">
            <input *ngIf="modifierForm.value.modifierKind === 'fixed'" formControlName="fixedValue" type="number" class="form-control" id="modifierFixedValue" placeholder="">
          </div>
          <button class='btn btn-danger' (click)='removeModifier()'><span aria-hidden="true">&times;</span></button>
        </div>-->
      </div>
      <div class="panel-footer text-right">
        <button *ngIf="!charge.state" type="button" class="btn btn-danger pull-left" (click)='destroy()'>Remove</button>
        <button type="button" class="btn btn-default" (click)='cancel()'>Cancel</button>
        <button type="submit" class="btn btn-primary">{{ charge.state ? 'Create' : 'Update' }} Charge</button>
      </div>
    </div>
  </div>
</form>